body{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

label {
    display: block;
}

#projectName{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

table, th, tr, td{
    border: 1px solid black;
    min-width: 100px;
}

.popUpHidden{
    
    visibility:hidden;
}
.popUpShow{
    border: 1px solid black;
    text-align: center;
    position: absolute;
    left: 50%;
    top:25%;
    visibility:visible;
}

#removeButton{
    display: block;
}

.strikeThrough{
    text-decoration: line-through;
}

.showDiv{
    visibility: visible;
}

.hideDiv{
    visibility:hidden;
}